@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .post-content p {
    @apply pb-4 pt-4 text-lg leading-7;
  }
  .post-content a {
    @apply underline text-green-700 hover:text-green-800;
  }
  .post-content h1 {
    @apply pb-4 text-3xl font-bold;
  }
  .post-content h2 {
    @apply pb-4 text-2xl font-bold;
  }
  .post-content h3 {
    @apply pb-4 text-xl font-bold;
  }
  .post-content h4 {
    @apply pb-4 text-lg font-bold;
  }
  .post-content ul {
    @apply pb-4 list-disc text-lg;
  }

  .post-content ol  {
    @apply pb-4 list-decimal pl-4 text-lg;
  }
  .post-content pre {
    @apply pb-4 bg-[#0F172A] text-[#E5E7EB] p-4 rounded-md;
    overflow-x: auto;
    white-space: pre;
  }
  .post-content img {
    display: block;
    border-radius: 6px;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
  }
  .post-content .wp-element-caption {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #2c2e33;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:ital,wght@0,100;0,400;1,500;1,900&family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Styles for screens up to 768px width */
@media (max-width: 768px) {
  /* Add your CSS styles here */
}

/* Styles for screens up to 480px width */
@media (max-width: 480px) {
  /* Add your CSS styles here */
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}
